---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Noto+Serif+KR:400,700');


html {
    font-size: 14px; // originally 16px

    // @include breakpoint($medium) {
    //     font-size: 16px; // originally 18px
    // }

    @include breakpoint($large) {
        font-size: 18px; // originally 20px
    }

    // @include breakpoint($x-large) {
    //     font-size: 20px; // originally 22px
    // }
}


// @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// html {
//     font-size: 16px; // originally 16px

//     @include breakpoint($medium) {
//         font-size: 16px; // originally 18px
//     }

//     @include breakpoint($large) {
//         font-size: 16px; // originally 20px
//     }

//     @include breakpoint($x-large) {
//         font-size: 16px; // originally 22px
//     }
// }